{% extends 'inc/main_base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div>
  <!-- ============================================== HEADER ============================================== -->
    <!-- ============================================== HEADER : END ============================================== -->
  
    <div class="body-content outer-top-xs">
      <div class='container'>
        <div class='row single-product'>
          <div class='col-xs-12 col-sm-12 col-md-3 sidebar'>

            {% include 'inc/side_category.html' %}
            

          </div><!-- /.sidebar -->
  
  
          <div class='col-xs-12 col-sm-12 col-md-9 rht-col'>
  
  
            <!-- ============================================== UPSELL PRODUCTS ============================================== -->
            <section class="section featured-product" style="padding: 25px;">
              <h1 style="margin-top: 0px; margin-bottom: 25px;">{{ category.name }}</h1>

              {% include 'inc/product_list.html' %}

            

            </section>
            
            <!-- /.section -->
            <!-- ============================================== UPSELL PRODUCTS : END ============================================== -->
  
          </div><!-- /.col -->
  
  
  
  
  
  
        </div><!-- /.row -->
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
     
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
      </div><!-- /.container -->
    </div><!-- /.body-content -->
  
    <!-- ============================================================= FOOTER ============================================================= -->
  
    <!-- ============================================== INFO BOXES ============================================== -->
    {% include 'inc/features.html' %}


  <!-- ============================================== INFO BOXES : END ============================================== -->
</div>

{% endblock content %}
