{% extends 'inc/main_base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div>
  <!-- ============================================== HEADER ============================================== -->
    <!-- ============================================== HEADER : END ============================================== -->
  
    <div class="body-content outer-top-xs">
      <div class='container'>
        <div class='row single-product'>
          <div class='col-xs-12 col-sm-12 col-md-3 sidebar'>

            {% include 'inc/side_category.html' %}
            

          </div><!-- /.sidebar -->
  
  
          <div class='col-xs-12 col-sm-12 col-md-9 rht-col'>
  
  
            <!-- ============================================== UPSELL PRODUCTS ============================================== -->
            <section class="section featured-product" style="padding: 25px;">
              <h1 style="margin-top: 0px; margin-bottom: 25px;">Hey {{ user.first_name }}!</h1>
              
              <div class="body-content outer-top-vs" id="top-banner-and-menu">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <div class="custom-card">

                                    <div style="">
                                        <br>
                                        <i class="material-icons" style="font-size: 100px;">account_circle</i>
                                    </div>
                                    
                                    <!-- <img style="width: 200px; border-radius: 15px;"
                                        src="{% static 'assets/images/testimonials/profile.jpg' %}"  alt="profile"> -->
                                    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                                    <p style="font-size: 1.5rem;">
                                        {{ user.username }}</p>
                                    <a href="{% url 'application:wishlist' %}">
                                        <button type="button" class="btn btn-primary" style="margin-bottom: 25px;">GO TO WISHLIST</button>
                                    </a>
                                    <br>
                                </div>
                                <br>

                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            

                            </div>

                            <div class="col-sm-9">
                                <div class="custom-card p-3">
                                    <form method="POST" class="register-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                        
                                            <p class="info-title text-lg">Email address</p>
                                            <p>
                                                <input type="email"
                                                    class="update-fields form-control unicase-form-control text-input"
                                                    id="exampleInputEmail2" name="username" value="{{ user.username }}">
                                            </p>
                                        </div>
    
                                        <br>
        
                                        <div class="form-group">
                                                <p class="info-title text-lg">First name</p>
                                            <p>
                                                <input type="text"
                                                    class="update-fields form-control unicase-form-control text-input"
                                                    id="exampleInputEmail2" name="first_name" value="{{ user.first_name }}">
                                            </p>
                                     
                                        </div>
    
                                        <br>
        
                                        <div class="form-group">
                                            <p class="info-title text-lg">Last name</p>
    
                                            <p>
                                                <input type="text"
                                                    class="update-fields form-control unicase-form-control text-input"
                                                    id="exampleInputEmail2" name="last_name" value="{{ user.last_name }}">
                                            </p>
                                        </div>
        
        
                                        <div class="container">
                                            <p>
                                                {{ form.errors }}
                                            </p>
                                        </div>
        
                                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Submit</button>
                                    </form>
                                </div>
                                <!-- <h2 class="checkout-subtitle">Update Profile</h2> -->
                                
                            </div>
                        </div>
                    </div>

              
                <!-- /.container -->
              </div>
            </section>
            
            <!-- /.section -->
            <!-- ============================================== UPSELL PRODUCTS : END ============================================== -->
  
          </div><!-- /.col -->
  
  
  
  
  
  
        </div><!-- /.row -->
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
     
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
      </div><!-- /.container -->
    </div><!-- /.body-content -->
  
    <!-- ============================================================= FOOTER ============================================================= -->
  
    <!-- ============================================== INFO BOXES ============================================== -->
    {% include 'inc/features.html' %}


  <!-- ============================================== INFO BOXES : END ============================================== -->
</div>

{% endblock content %}
