{% load static %}

<header class="header-style-1">

    <!-- ============================================== TOP MENU ============================================== -->
    <div class="top-bar animate-dropdown">
      <div class="container">
        <div class="header-top-inner">
          <div class="cnt-account">
            <ul style="margin-top: 1.8rem;" class="list-unstyled">
            <li class="check"><a href="{% url 'application:all-categories' %}"><span class="menu-link">All categories</span></a></li>  
              <li class="check"><a href="{% url 'application:all-products' %}"><span class="menu-link">All products</span></a></li>
              {% if user.is_authenticated %}
              <li class="wishlist"><a href="{% url 'application:wishlist' %}"><span class="menu-link">My Wishlist</span></a></li>
              <li class="check"><a href="{% url 'application:profile' %}"><span class="menu-link">Profile</span></a></li>
              <li class="login"><a href="{% url 'application:sign_out' %}"><span class="menu-link">Log Out</span></a>
              </li>

              {% else %}
              <li class="login"><a href="{% url 'application:sign_in' %}"><span class="menu-link">Log In</span></a></li>
              <li class="login"><a href="{% url 'application:sign_up' %}"><span class="menu-link">Sign Up</span></a>
              </li>

              {% endif %}


            </ul>
          </div>
          <!-- /.cnt-account -->

          <!-- <div class="cnt-block">
            <ul class="list-unstyled list-inline">
              <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown"
                  data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">USD</a></li>
                  <li><a href="#">INR</a></li>
                  <li><a href="#">GBP</a></li>
                </ul>
              </li>
              <li class="dropdown dropdown-small lang"> <a href="#" class="dropdown-toggle" data-hover="dropdown"
                  data-toggle="dropdown"><span class="value">English </span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">English</a></li>
                  <li><a href="#">French</a></li>
                  <li><a href="#">German</a></li>
                </ul>
              </li>
            </ul> -->
          <!-- /.list-unstyled -->
          <!-- </div> -->
          <!-- /.cnt-cart -->
          <div class="clearfix"></div>
        </div>
        <!-- /.header-top-inner -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
            <!-- ============================================================= LOGO ============================================================= -->
            <div class="logo"> <a href="{% url 'application:home' %}"> <img src="{% static 'assets/images/logo.png' %}" alt="logo"> </a>
            </div>
            <!-- /.logo -->
            <!-- ============================================================= LOGO : END ============================================================= -->
          </div>
          <!-- /.logo-holder -->

          <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder">
            <!-- /.contact-row -->
            <!-- ============================================================= SEARCH AREA ============================================================= -->
            <div class="search-area">
              <form>
                <div class="control-group">
                  <ul class="categories-filter animate-dropdown">
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                        href="{% url 'application:all_categories' %}">Categories <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu">
                        {% for category in categories %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="{% url 'application:category' category.id %}">
                                    {{ category.name }} ({{ category.get_product_count }})
                                </a>
                            </li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                  <input class="search-field" placeholder="Search here..." />
                  <a class="search-button" href="#"></a>
                </div>
              </form>
            </div>
            <!-- /.search-area -->
            <!-- ============================================================= SEARCH AREA : END ============================================================= -->
          </div>
          <!-- /.top-search-holder -->

          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 animate-dropdown top-cart-row">
            <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

            <div class="dropdown dropdown-cart"> <a href="{% url 'application:profile' %}" class="dropdown-toggle lnk-cart">
                <div class="items-cart-inner">
                  <div class="profile">
                      <i class="material-icons" style="font-size:40px;">account_circle</i>
                    <div class="total-price-basket"> <span class="lbl">Go to</span> <span
                        class="value">Profile</span> </div>
                  </div>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="cart-item product-summary">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="image"> <a href="detail.html"><img
                              src="{% static 'assets/images/products/p4.jpg' %}" alt=""></a>
                        </div>
                      </div>
                      <div class="col-xs-7">
                        <h3 class="name"><a href="index8a95.html?page-detail">Simple Product</a></h3>
                        <div class="price">$600.00</div>
                      </div>
                      <div class="col-xs-1 action"> <a href="#"><i class="fa fa-trash"></i></a> </div>
                    </div>
                  </div>
                  <!-- /.cart-item -->
                  <div class="clearfix"></div>
                  <hr>
                  <div class="clearfix cart-total">
                    <div class="pull-right"> <span class="text">Sub Total :</span><span class='price'>$600.00</span>
                    </div>
                    <div class="clearfix"></div>
                    <a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a>
                  </div>
                  <!-- /.cart-total-->

                </li>
              </ul>
              <!-- /.dropdown-menu-->
            </div>
            <!-- /.dropdown-cart -->

            <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
          </div>
          <!-- /.top-cart-row -->
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->

    </div>
    <!-- /.main-header -->

    <!-- ============================================== NAVBAR ============================================== -->
    <div class="header-nav animate-dropdown">
      <div class="container">
        <div class="yamm navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed"
              type="button">
              <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div class="nav-bg-class">
            <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
              <div class="nav-outer">
                <ul class="nav navbar-nav">
                  <li class="{% if home %}active{% endif %} dropdown"> <a href="{% url 'application:home' %}">Home</a> </li>
                  
                  {% for category in categories %}
                  {% if forloop.counter < 9 %}
                  <li class="{% if my_cat %}{% if my_cat.id == category.id %}active{% endif %}{% endif %} dropdown hidden-sm"> <a href="{% url 'application:category' category.id %}">{{ category.name }} ({{ category.get_product_count }})</a> </li>
                  {% endif %}
                  
                  {% endfor %}
                </ul>
                <!-- /.navbar-nav -->
                <div class="clearfix"></div>
              </div>
              <!-- /.nav-outer -->
            </div>
            <!-- /.navbar-collapse -->

          </div>
          <!-- /.nav-bg-class -->
        </div>
        <!-- /.navbar-default -->
      </div>
      <!-- /.container-class -->

    </div>
    <!-- /.header-nav -->
    <!-- ============================================== NAVBAR : END ============================================== -->

  </header>
